<!DOCTYPE html>
<html>
    <head>
        <title>Ape-Node Server</title>
        <meta name="viewport" content="width=device-width", initial-scale=1.0 />
    </head>
    <body>
        <h1>Ape-Node Server</h1>
        <div>Error encountered:</div>
        <div>
            <%= error.message %>
        </div>
    </body>
</html>
