<!DOCTYPE html>
<html ng-app="ape.app">
    <head>
        <title>APE Stack Server</title>
        <meta name="viewport" content="width=device-width", initial-scale=1.0 />
        <% assets.css.forEach((asset) => { %><link rel="stylesheet" href="<%= asset %>">
        <% }) %>
    </head>
    <body ng-controller="mainController as vm" layout-fill>
        <div layout="column" layout-fill>
                <ape-site-header></ape-site-header>
                <div ui-view></ui-view>
        </div>
        <% assets.js.forEach((asset) => { %><script type="text/javascript" src="<%= asset %>"></script>
        <% }) %>
    </body>
</html>
